<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Resources/Templates/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ACTUALIZAR PROGRAMAS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand" href="#">ACTUALIZAR PROGRAMAS</a>
              </li>                            
            </ul>            
          </div>
        </div>
      </nav>
      <% if (programas) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Actualización de Programas</div>
                <div class="card-body">
                    <form action="/actualizarprogramas" method="POST">
                         <input idprograma="idprograma" name="idprograma" value="<%= programas.idprograma %>" hidden>

                        <div class="mb-3">
                            <label for="titulo" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" 
                            tabindex="1" value="<%= programas.titulo  %>">
                        </div> 

                        <div class="mb-3">
                          <label for="descripcion" class="form-label">Descripcion</label>
                          <input type="text" class="form-control" id="descripcion" name="descripcion" 
                          tabindex="1" value="<%= programas.descripcion  %>">
                        </div> 

                        <div class="mb-3">
                            <label for="obejtivos" class="form-label">Objetivos</label>
                            <input type="text" class="form-control" id="objetivos" name="objetivos" 
                            tabindex="1" value="<%= programas.objetivos  %>">
                        </div> 

                        <div class="mb-3">
                            <label for="requisitos" class="form-label">Requisitos</label>
                            <input type="text" class="form-control" id="requisitos" name="requisitos" 
                            tabindex="1" value="<%= programas.requisitos  %>">
                        </div> 

                        <div class="mb-3">
                           <label for="precio" class="form-label">Precio</label>
                           <input type="text" class="form-control" id="precio" name="precio" 
                           tabindex="1" value="<%= programas.precio  %>">
                       </div> 
  
                       <div class="mb-3">
                          <label for="duracion" class="form-label">Duracion</label>
                          <input type="text" class="form-control" id="duracion" name="duracion" 
                         tabindex="1" value="<%= programas.duracion  %>">
                       </div> 

                       <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                           <input type="text" class="form-control" id="estado" name="estado" 
                           tabindex="1" value="<%= programas.estado  %>">
                        </div> 
                                                                                             
                        <button type="submit" class="btn btn-primary" tabindex="5">Actualizar</button>
                        <a href="/programas" class="btn btn-danger">Cancelar</a>

                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
      crossorigin="anonymous"></script>
</body>
</html>